@model Models.Item

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you wish to delete this item?</h3>

<div>
    <label for="Name" class="fw-bold">Name:</label>
    <label id="Name">@Model.Name</label>
</div>
<div>
    <label for="Price" class="fw-bold">Price:</label>
    <label id="Price">@Model.Price</label>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id"/>
    <div class="border flex w-full align-middle justify-content-between align-content-between">
        <a asp-action="Index">Back to List</a>
        <input type="submit" value="Delete" class="btn btn-danger"/>
    </div>
</form>